@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Shanmugapuram Naidupuram<br />
    Kodaikanal,TN +91 9080229489<br />
    <abbr title="Phone">Ph:</abbr>
    044 24248
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yuvaraj009003@gmail.com">yuvaraj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yuvaraj009003@gmail.com">yuvaraj@gmail.com</a>
</address>